.project
.classpath
.gradle/
.settings/
Testcases/diffs
build/
*.iml
*.ipr
*.iws
out/
bin/
.idea/

Testcases/.gem/specs/rubygems.org%443/specs.4.8
*.gemspec
Testcases/.gem/specs/rubygems.org%443/latest_specs.4.8